<div class="w-full">
  <h1 class="text-3xl dark:text-white dark:text-slate-400">
    About</h1>
  <br />
  <div class="row" data-controller="dark-mode">
  <p class="lead text-1xl text-slate-500
  1dark:text-white dark:text-teal
  dark:text-slate-500">Moje ime je Srđan Vidović,
  ja sam softverski inženjer koji živim u Gradišci,
  Bosna i Hercegovina. Planiram podijeliti
  svoja saznanja iz tehnologije putem ovog bloga,
  od kojih bi većina bila o
  <a href="https://www.ruby-lang.org/en/">Ruby</a> i
  <a href="https://rubyonrails.org/">Ruby on Rails</a>.
  Trenutno radim kao softverski inženjer u Banjaluci.
  </p>
  <br />
  <%= image_tag("avatar.jpeg",
  data: { action: 'click->dark-mode#toggle'}) %>
  </div>
  <br />
</div>
